[submodule "geopuesto"]
	path = geopuesto
	url = https://github.com/mapzimus/geopuesto.git
[submodule "truescale"]
	path = truescale
	url = https://github.com/mapzimus/true-scale.git
[submodule "quabbin"]
	path = quabbin
	url = https://github.com/mapzimus/quabbin.git
